@media screen and (max-width:500px) {
    header{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    nav{
        display: grid;
        grid-template-columns: auto auto;
    }
    header ul{
        display: flex;
        justify-content: center;
    }
    .logo{
        /* display:flex ; */
        justify-content: center;
        /* align-items: flex-start; */
        margin: 12px 0;
    }
    .search{
        justify-content: center;
        margin: 0;
    }
    .card-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card img{
        width: 90%;
        height: 90%;
    }
    .fashion img{
        width: 100% ;
        height: 100%;
    }
    .slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}